.si-link{
    color:#fff;
    font-weight: bold;
    font-size: 3vw;
}

.warning-login {
    display: flex;
    justify-content: space-between;
    word-spacing: 6px;
    text-transform: capitalize;
    font-size: 1rem;
    color: #0c5460;
    background-color: #d1ecf1;
    padding: 10px;
    margin-top: 20px;
  
}

.closeicon{
    cursor: pointer;
   
}


