<!DOCTYPE html>
<html>

<head>


  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

    <title>Table</title>
       
       
<style>
html {
  margin:0;
  padding:0;
  font-size:16px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

h1{
  text-align:center;
}

#A{
  background-color:#4338CA;
  color:white;
  padding-top:12px;
}

  </style>



   </head>




<body>
{% load mytemps %}

<div class="box">
{% for i in mylist|length|times %}
  <div id = 'A' class="d-flex justify-content-center">
   
  {% if mylist|index:i|index:3 %}
  
  <h1>{{mylist|index:i|index:0}} extends {{mylist|index:i|index:3}}</h1>
  
  {% else %}
  
  <h1>{{mylist|index:i|index:0}}</h1>

  {% endif %}

</div>
{% if mylist|index:i|index:4|length %}
<div id = 'B' class="d-flex justify-content-center">

  {% if extension == '.cpp' %}
  <h1>Extends {{mylist|index:i|index:4|join:", "}}</h1>
  {% else %}  
 <h1>Implements {{mylist|index:i|index:4|join:", "}}</h1> 
 {% endif %}

  
</div>
{% endif %}


    <div class="overall-container"> 
      
    <h1>Variables </h1>
  
    </div>



<div> 
    <table id="table">
        <thead>
          <tr>
            <th>Modifier</th>
            <th>Datatype</th>
            <th>Name</th>
          </tr>
        </thead>
        
        <tbody>
          {% if mylist|index:i|index:1|index:0|length != 0 %}
          {%for j in mylist|index:i|index:1|index:0|length|times %}
          <tr>
              <td>{{mylist|index:i|index:1|index:0|index:j}}</td>
              <td>{{mylist|index:i|index:1|index:1|index:j}}</td>
              <td>{{mylist|index:i|index:1|index:2|index:j}}</td>
    
            </tr>
            
          
          {%endfor%}
          {%else%}
            <tr>
              <td>None</td>
              <td>None</td>
              <td>None</td>
    
            </tr>
           {%endif%}
          
        </tbody>
       
      </table>
    </div>
   </div>

   <div id='b1' class="overall-container"> 
      
    <h1>Methods</h1>
  

    </div>

<div> 
    <table id="table">
        <thead>
          <tr>
            <th>Modifier</th>
            <th>ReturnType</th>
            <th>Name</th>
            <th>Arguments</th>
          </tr>
        </thead>

        
        <tbody>
         {% if mylist|index:i|index:2|index:0|length != 0 %}
          {%for k in mylist|index:i|index:2|index:0|length|times %}
             
        
          <tr>
              <td>{{mylist|index:i|index:2|index:0|index:k}}</td>
              <td>{{mylist|index:i|index:2|index:1|index:k}}</td>
              <td>{{mylist|index:i|index:2|index:2|index:k}}</td>
              <td>{{mylist|index:i|index:2|index:3|index:k}}</td>
    
            </tr>

          
          {%endfor%}

          {%else%}
            <tr>
              <td>None</td>
              <td>None</td>
              <td>None</td>
    
            </tr>
          {%endif%}
        </tbody>
        
      </table>
    </div>
   </div>

    

    
    
  
     
    

{% endfor %}
</div>
</body>






</html>