.upload-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.error-message{
    max-width: 75ch;
    word-spacing: 15px;
    font-size: 1rem;
    background-color: #f2dede;
    color: #a94442;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 70px;
}

.error-message button{
    
    width: 100px;
    height: 2rem;
    margin-right: 12px; 
    cursor: pointer; 
    outline: none;
    border: none;
    border-radius: 20px;
    background-color:  #a94442;
    color: #f2dede;
    margin: 10px auto;
}
select {
    width: 100pxs;     
 }
.ubtn{
    width: 18.688rem;
    height: 4.375rem;
    background-color: #842bd7;
    color:#fff;
    border-radius: 60px;
    font-weight: 800;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    
}

.ubtn:hover {
    opacity: 0.7;
}

.file-selection{
    display: flex;
}