.side-bar{
    width: 16rem;
    position: sticky;
    top:2;
    left: 0;
    transition:650ms;
    background-color: #4654A3;
    color:#fff;
    
}

.side-link{
    color:#000;
    font-weight: 800;
    text-decoration: none;
}


.dp{
    object-fit: contain; 
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-top: 40px;
    
   
}

center > h4{
margin-bottom: 20px;
font-weight: 800;
font-size: 20px;
margin-right: 20px;
}

.show-side-bar{
    position: sticky;
    left: 0;
    width: 5rem;
    height: 100vh;
    transition:850ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-side-bar center{
    display: none;
    
}


    











