.profile{
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.profile-banner{
    color: #000;
    background-color: #f0f0f0;
    padding: 100px;
    
}

.profile-banner > h1{
    text-align: center;
    font-size: 40px;
    font-weight:900;
        
}

.profile-picture{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture img{
    
    margin-bottom: 22px;
}

.profile-btn{
    width: 100px;
    height: 2rem;
    margin-right: 12px; 
    cursor: pointer; 
    outline: none;
    border: none;
    border-radius: 20px;
    background-color:  #842bd7;
    color: #fff;
    margin-top: 20px;
    
}
.personal-section{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}

.personal-section *{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight:700;
    background-color: #f0f0f0;
    width: 100%;
}

.name{
    
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
}

.section{
    display: flex;
    justify-content: space-between;
    
}



.editicon{
    cursor: pointer;
}

.about-section textarea{
    width: 70%;
    height: 100px;
    outline: none;
    border-radius: 6px;
}

.conditioned-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conditioned-input input{
    width: 29rem;
    height: 2rem;
    font-weight: bold;
    background: #fff;
    border-radius: 40px;
    border: 1px solid #000;
    outline: none;
    margin: 0.8rem;
    padding: 0 16px;
    margin-right: 12px;  
}



.conditioned-input button{
    width: 100px;
    height: 2rem;
    margin-right: 12px; 
    cursor: pointer; 
    outline: none;
    border: none;
    border-radius: 20px;
    background-color:  #842bd7;
    color: #fff;
    
    
}

.conditioned-input textarea{
    background-color: #fff;
    margin-right: 12px;  
    outline: none;
    margin: 0.8rem;
    padding: 0 16px;
    border-radius: 20px;
}

.conditioned-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.conditioned-text button{

    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    outline: none;
}

