*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  --dark:#121212;
  
}

.light{
  background-color: #fff;
  color: #121212;
}
.darkmode{
  background-color: #121212;
  color: #fff;

}

.darkmode .nav-header{
  background-color: #121212;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)s, 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.darkmode .side-bar{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.darkmode .show-side-bar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.darkmode .side-link{
  color:#fff
}



.darkmode th{
  background-color: #000;
}

.darkmode tr:nth-child(even){background-color: #000}


.darkmode .sidebarOption:hover {
  background-color: #fff;
  color: #121212;
}

.darkmode .Card{
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.darkmode .box{
  border: 1px solid #fff;
}

.darkmode .class-name{
  border-bottom: 1px solid #fff;
}

.darkmode .variables{
  border-bottom: 1px solid #fff;
}

.darkmode .methods{
  border-bottom: 1px solid #fff;
}

.darkmode .table-nav-bar h2{
  color:#fff
}

.darkmode .A{
  background-color: #000;
}

.darkmode .overall-container > h1{
  background-color: #121212;
}

.darkmode .profile-banner{
  background-color: #000;
  color:#fff
}

.darkmode .profile-btn{
  background-color: #fff;
  color:#000
}

.darkmode .card-container button{
  background-color: #fff;
  color:#000
}

.darkmode .upload-container button{
  background-color: #fff;
  color:#000
}

.darkmode .buttons-container button{
  background-color: #fff;
  color:#000
}


.darkmode .personal-section *{
  background-color: #000;
}

.darkmode .conditioned-input button{
  
  background-color: #fff;
  color: #121212;
}

.darkmode .conditioned-input textarea{
  color: #fff;
  background-color: #121212;
  
}

.darkmode .conditioned-input input{
  color: #fff;
  background-color: #121212;
  
}

.darkmode .deletebtn{
  background-color: #000;
  color:#fff;
}

.darkmode .about-section{
  background-color: #121212;
}

.dashboard{
  display: flex;
  
  
}

.darkmode .error-message{
  background-color:  #a94442;
    color: #f2dede;
}

.darkmode .error-message button{
  color:  #a94442;
    background-color: #f2dede;
}

.darkmode .wrap{
  background-color: #000;
  color:#fff
}

.darkmode .dropdown{
  background-color: #28282B;
  color: #fff;
  
}